{{#tags}}
## {{name}}
{{#issues}}
{{#hasIssue}}
{{#hasLink}}
### {{name}} [{{issue}}]({{link}}) {{title}} {{#hasIssueType}} *{{issueType}}* {{/hasIssueType}} {{#hasLabels}} {{#labels}} *{{.}}* {{/labels}} {{/hasLabels}}
{{/hasLink}}
{{/hasIssue}}
{{#commits}}
* {{messageTitle}}
{{/commits}}
{{/issues}}

{{/tags}}

*For more details, see [{last_tag}..v{mod_version}](https://github.com/ApexModder/{mod_name}/compare/{last_tag}...v{mod_version})*