{{#tags}}
## {{name}}
{{#commits}}
* {{messageTitle}}
{{#messageBodyItems}}
	- {{.}}
{{/messageBodyItems}}
{{/commits}}
{{/tags}}

*For more details, see [{last_tag}..{current_tag}]({mod_git_url}/compare/{last_tag}...{current_tag})*